.advSearch {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &__head {
    padding: 1rem;
    position: fixed;
    background-color: #411464;
    width: 100%;

    &__headlink {
      float: right;
      top: 0 px;
      margin-right: 1rem;
      font-family: "Roboto", sans-serif;
    }
    h1 {
      position: relative;
      float: left;
      top: 0 px;
      color: white;
      text-decoration: none;

      span {
        transform: rotate(-20deg);
        display: inline-block;
      }
    }
  }
  &__headline {
    margin-top: 4rem;
    min-height: 5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #411464;
    justify-content: center;
    font-family: "Roboto", sans-serif;
  }
  &__search {
    display: flex;
    flex-wrap: wrap;
    // border: solid;
    align-items: center;
    justify-content: center;
    min-height: 6em;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    &__form {
      // border: dotted red;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      min-width: 45%;
      justify-content: space-evenly;

      &__one {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        // border: double black;
        justify-content: space-evenly;
        align-items: flex-start;

        &__formGroup {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          input[type="number"] {
            width: 13em;
            padding: 5px;
            border: 2px solid #ccc;
            -webkit-border-radius: 5px;
            border-radius: 5px;
          }
        }
      }
      &__two {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        // border: double black;
        justify-content: space-evenly;
        align-items: flex-start;
        &__formGroup {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          input[type="number"] {
            width: 13em;
            padding: 5px;
            border: 2px solid #ccc;
            -webkit-border-radius: 1px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
