.beers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5rem;
  &__beer {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    max-width: 15rem;
    min-height: 15rem;
    max-height: 15rem;
    margin-top: 2rem;
    align-items: center;
    border-radius: 10px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

    &__image {
      max-height: 10rem;
      margin: 2rem 0;
      max-width: 4rem;
    }
  }
}
