.detail {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-family: "Roboto", sans-serif;
  background-color: white;
  // border: double red;

  &__beer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
    // border: solid yellow;

    &__left {
      // border: solid red;
      max-width: 20%;
      max-height: 70%;

      img {
        max-width: 20rem;
        max-height: 20rem;
      }
    }

    &__right {
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      max-width: 70%;
      max-height: 100%;
      justify-content: space-around;
      // border: solid black;

      &__number {
        flex-wrap: wrap;
        p {
          display: inline-block;
          padding: 5px;
        }
      }

      ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
  }
}
