.detail {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-family: "Roboto", sans-serif;
  background-color: white;

  justify-content: space-around;
  // border: double red;

  &__beer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    // border: solid yellow;
    padding-left: 5em;
    padding-right: 5em;

    &__left {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      // border: solid red;
      max-width: 20%;
      max-height: 70%;
      &__image {
        margin-top: 1rem;
        max-width: 20rem;
        max-height: 20rem;
      }
    }

    &__right {
      padding: 2rem;
      display: flex;
      max-width: 70%;
      max-height: 70%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      // border: solid black;
      flex-wrap: wrap;
      &__number {
        flex-wrap: wrap;
        p {
          display: inline-block;
          padding: 5px;
        }
      }
      &__desciption {
        // border: dotted yellowgreen;

        padding: 5px;
      }
      ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
  }
}
