.head {
  width: 100%;
  background-color: #512da8;
  min-height: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__nav {
    padding: 1rem;
    position: fixed;
    background-color: inherit;
    min-width: 100%;

    &__headlink {
      float: right;
      top: 0 px;
      margin-right: 1rem;
      font-family: "Roboto", sans-serif;
    }
    h1 {
      position: relative;
      float: left;
      top: 0 px;
      color: white;
      text-decoration: none;

      span {
        transform: rotate(-20deg);
        display: inline-block;
      }
    }
  }

  &__headline {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    height: 90px;
    width: 100%;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: 5em;
    h4 {
      letter-spacing: 3px;
    }
  }
  &__searchForm {
    min-height: 10vh;
    .search-bar {
      width: 40%;
      height: 30px;
      border: none;
      padding: 10px;
      justify-content: center;
      box-shadow: 0px 5px 20px rgb(71, 71, 71);
      font-family: "Roboto", sans-serif;
    }
  }
}
